/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: 'Poppins', 'sans-serif';
}

html
{
    scroll-behavior: smooth;
}

p
{
    color: rgb(85, 85, 85);
}

/* TITLE */
.go_back_text {
    text-align: center;
    font-size: 1.5rem;
}

.go_back_text a {
    color: #777; /* Lighter color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s, text-decoration 0.3s; /* Smooth transition for hover effect */
}

.go_back_text a:hover {
    color: #444; /* Darker on hover for better contrast */
    text-decoration: underline; /* Add underline on hover */
}

.title {
    font-size: 3rem;
    text-align: center;
}

/* VIDEO */

.video-container {
    width: 100%;
    max-width: 800px; /* Adjust this value as needed */
    margin: 2rem auto 0;
}
.video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}

  /* BUTTONS */

.btn-container
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn
{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 14rem;
    height: 3.5rem;
    border-radius: 2rem;
}

.btn-content 
{
    display: flex;
    align-items: center;
    position: relative;
}
  
.btn-icon {
    height: 1.75em; /* Ensures the icon scales with the text size */
    width: auto;
    margin-right: 8px;
    transition: opacity 0.1s ease; /* Smooth transition for the hover effect */
}

.default-icon 
{
    opacity: 1;
}


.btn-switch .hover-icon {
    opacity: 0;
    position: absolute;
    left: 0;
}


.btn-color-1, .btn-color-2
{   
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn:hover .default-icon {
    opacity: 0;
}

.btn:hover .hover-icon {
    opacity: 1;
}


.btn-color-1:hover, .btn-color-2:hover
{   
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover
{   
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover
{
    background-color: rgb(0, 0, 0);
}

.btn-color-2
{
    background: none;   
}

.btn-color-2:hover
{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container
{
    gap: 1rem;
}

/* TITLES */

.title2-header
{
    margin-top: 5rem;
    margin-bottom: -5px;
    text-align: center;
    font-size: 1.5rem;
}

.title2
{
    font-size: 3rem;
    text-align: center;
}

.title3
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

/* PARAGRAPHS */

.paragraph {
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.6; /* Improves readability /
    max-width: 800px; / Limits the width of the paragraph */
    margin-left: auto;
    margin-right: auto;
}

.section-content {
    max-width: 1000px;
    margin: 0 auto;
}

.paragraph-container 
{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.paragraph-left, .paragraph-right, .paragraph-center
{
    flex: 1;
    line-height: 1.6;
}

.paragraph-center 
{
    text-align: center;
}

.paragraph-left 
{
    padding-right: 1rem;
}

.paragraph-right 
{
    padding-left: 1rem;
}

.image-container 
{
    flex: 0 0 350px;
    height: 250px;
    background-color: #ccc; /* Placeholder color */
    border-radius: 15px; /* Adds rounded corners */
    overflow: hidden; /* Ensures the image doesn't overflow the rounded corners */
}

.image-left {
    order: -1;
    margin-right: 1rem;
}

.image-right {
    margin-left: 1rem;
}

